*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: #E7E9FF;
}

.container{
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.logo{
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.logo img{
  height: 100%;
  width: 100%;
}

#login{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-header{
  font-size: 1.6rem;
  font-weight: 600;
}

.block{
  display: block;
}

.line{
  width: 80%;
  height: 2px;
  background-color: #3d3d3d;
  margin-top: 15px;
  margin-bottom: 15px
}

.input-box{
  width: 80%;
  position: relative;
}

.input-box input{
  position: relative;
  background-color: #d0d0d0;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  margin-top: 10px;
}

.input-box span{
  position: absolute;
  left: 3%;
  top: 23%;
  font-size: 0.7rem;
  font-weight: 600;
}

#myBtn{
  margin-top: 15px;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #4672C9;
  color: white;
  border-radius: 5px;
}

.login-laptop{
  display: none;
}

@keyframes fade {
  0%{
    opacity: 1;
  }100%{
    opacity: 0;
    transform: translateX(-40px);
  }
}

@media (min-width: 800px){
  .container{
    display: flex;
  }

  .login-laptop{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #3d3d3d;
    background: url(../src/images/japan.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-laptop .wrapper-laptop{
    width: 100%;
    backdrop-filter: brightness(40%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-laptop .wrapper-laptop h2{
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .wrapper-laptop h2, .wrapper-laptop .sponsored{
    margin-left: 10%;
  }

  .sponsored-header{
    font-size: 1.5rem;
  }

  .icons{
    display: flex;
    margin-top: 5px;
  }
  .icons img{
    width: 100px;
    height: 100px;
  }

  .login{
    width: 50%;
    height: 100%;
  }

  #login{
    margin-top: 0px;
    height: 100svh;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    animation: fade 0.5s ease-in-out;
  }

  .login-header{
    font-size: 2rem;
  }

  .input-box input{
    padding-top: 30px;
  }

  .input-box span{
    font-size: 16px;
  }

  #myBtn{
    padding: 15px;
    font-size: 20px;
  }
  .text{
    font-size: 20px;
  }
}

@media (min-width: 1200px){
  #login{
    margin-top: -40px;
    max-width: 850px;
  }

  .login-header{
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .input-box input{
    padding: 20px;
    padding-top: 40px;
    font-size: 18px;
  }
}